<dir class="container">
 <%= form_tag "/contacts/#{params[:id]}", method: :patch do %>
  <form>
   <br>First Name:<input type="text" name="first_name" placeholder="Eric" value="<%= @contact.first_name%>"><br>
   <br>Last Name:<input type="text" name="last_name" placeholder="Muvunyi" value="<%= @contact.last_name%>"><br>
   <br>Midle Name:<input type="text" name="midle_name" value="<%= @contact.midle_name %>"><br>
   <br>Email:<input type="email" name="email" placeholder=".......@gmail.com" value="<%= @contact.email%>"><br>
   <br>Phone Contact:<input type="text" name="phone" placeholder="078....." value="<%= @contact.phone%>"><br>

   <br>Bio:<br>
   <br><textarea type="text" name="bio" rows="10" cols="30">
  <%= @contact.bio %>
   </textarea><br>
   <br>Address:<input type="float" name="address"><br>



   <br><button type="submit" class="btn btn-default">Submit</button><br>
 </form>
 <% end %>
</dir>
