<!DOCTYPE html>
<html>
  <head>
    <title>ContactApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
   <%= form_tag "/contacts/search", class: "navbar-form navbar-left", method: :post do %>
     <div class="form-group">
       <input type="text" class="form-control" placeholder="Search" name="search_query">
     </div>
     <button type="submit" class="btn btn-default">Submit</button>
   <% end %> 
  </div>
  
  <body>
    <%= yield %>

  </body>
</html>
